[run]
relative_files = True
; source =
; 	ai
; 	machine
; 	lab/pyutils

; Run in parallel mode so that coverage can canonicalize the source paths
; regardless of whether it runs locally or within a Docker container.
parallel = True

; omit scikit-surprise (custom package) GH runner tests Coveralls on python3.12?
omit = 
  /src/scikit-surprise/surprise/*

[paths]
; the first path is the path on the local (travis) filesystem
; the second path is the path as it appears within the Docker container
source =
  $GITHUB_WORKSPACE
  /appsrc/
