build
dist
*.class
/bin/
/target/
.bash_history
*.swp
*.pyc
machine/datasets/byuser/*
bigfiles/
dockers/Makevars
dockers/paiwww/files/certs
dockers/paiwww/files/htpasswd
tmp/
dockers/dbmongo/files/.mongodbauth.js
secret.tgz
dockers/dbmongo/dump.tgz
dockers/dbmongo/dump/
core
*.tgz
