# Declare files that will always have LF line endings on checkout.
release/*.sh text eol=lf
tests/**/*.sh text eol=lf
.env text eol=lf

data/recommenders/scikitlearn/KNNDatasetRecommender_classifier_accuracy_pmlb.pkl.gz filter=lfs diff=lfs merge=lfs -text
data/recommenders/scikitlearn/KNNMLRecommender_classifier_accuracy_pmlb.pkl.gz filter=lfs diff=lfs merge=lfs -text
data/recommenders/scikitlearn/KNNMetaRecommender_classifier_accuracy_pmlb.pkl.gz filter=lfs diff=lfs merge=lfs -text
data/recommenders/scikitlearn/KNNWithMeansRecommender_classifier_accuracy_pmlb.pkl.gz filter=lfs diff=lfs merge=lfs -text
data/recommenders/scikitlearn/SVDRecommender_classifier_accuracy_pmlb.pkl.gz filter=lfs diff=lfs merge=lfs -text
data/recommenders/scikitlearn/SVDRecommender_regressor_nmse_pmlb.pkl.gz filter=lfs diff=lfs merge=lfs -text
data/recommenders/scikitlearn/SlopeOneRecommender_classifier_accuracy_pmlb.pkl.gz filter=lfs diff=lfs merge=lfs -text
