*.pyc
.ipynb_checkpoints/*
*~
pennai-dev-notebook.ipynb
test_eval.ipynb
build
*.class
.bash_history
*.swp
machine/datasets/byuser/*
experiment.json
dockers/paiwww/files/certs
dockers/paiwww/files/htpasswd
tmp/
*.tgz
node_modules
rec_state.obj
