version: '3'

services:
  lab:
    build:
      context: .
      dockerfile: docker/lab/Dockerfile
    tty: true
    stdin_open: true
    volumes:
      - "./:/appsrc"
      - "/appsrc/lab/webapp/node_modules"
      - "/appsrc/lab/node_modules"
    ports:
      #- "443:443"
      - "5080:5080"
    env_file:
      - ./config/common.env
      - ./config/ai.env
    depends_on:
      - dbmongo

  machine_1:
    build:
      context: .
      dockerfile: docker/machine/Dockerfile
    tty: true
    stdin_open: true
    volumes:
      - "./:/appsrc"
      - "/appsrc/machine/node_modules"
    ports:
      - "5081:5081"
    env_file: ./config/common.env
    environment:
      - MACHINE_PORT=5081
      - MACHINE_HOST=machine_1
    depends_on:
      - lab
      - dbmongo

  machine_2:
    build:
      context: .
      dockerfile: docker/machine/Dockerfile
    tty: true
    stdin_open: true
    volumes:
      - "./:/appsrc"
      - "/appsrc/machine/node_modules"
    ports:
      - "5082:5082"
    env_file: ./config/common.env
    environment:
      - MACHINE_PORT=5082
      - MACHINE_HOST=machine_2
    depends_on:
      - lab
      - dbmongo

  machine_3:
    build:
      context: .
      dockerfile: docker/machine/Dockerfile
    tty: true
    stdin_open: true
    volumes:
      - "./:/appsrc"
      - "/appsrc/machine/node_modules"
    ports:
      - "5083:5083"
    env_file: ./config/common.env
    environment:
      - MACHINE_PORT=5083
      - MACHINE_HOST=machine_3
    depends_on:
      - lab
      - dbmongo

  machine_4:
    build:
      context: .
      dockerfile: docker/machine/Dockerfile
    tty: true
    stdin_open: true
    volumes:
      - "./:/appsrc"
      - "/appsrc/machine/node_modules"
    ports:
      - "5084:5084"
    env_file: ./config/common.env
    environment:
      - MACHINE_PORT=5084
      - MACHINE_HOST=machine_4
    depends_on:
      - lab
      - dbmongo
  machine_5:
    build:
      context: .
      dockerfile: docker/machine/Dockerfile
    tty: true
    stdin_open: true
    volumes:
      - "./:/appsrc"
      - "/appsrc/machine/node_modules"
    ports:
      - "5085:5085"
    env_file: ./config/common.env
    environment:
      - MACHINE_PORT=5085
      - MACHINE_HOST=machine_5
    depends_on:
      - lab
      - dbmongo

  machine_6:
    build:
      context: .
      dockerfile: docker/machine/Dockerfile
    tty: true
    stdin_open: true
    volumes:
      - "./:/appsrc"
      - "/appsrc/machine/node_modules"
    ports:
      - "5086:5086"
    env_file: ./config/common.env
    environment:
      - MACHINE_PORT=5086
      - MACHINE_HOST=machine_6
    depends_on:
      - lab
      - dbmongo

  dbmongo:
    build:
      context: .
      dockerfile: docker/dbmongo/Dockerfile
    tty: true
    stdin_open: true
    ports:
      - "27017:27017"
    env_file: ./config/common.env
