doctype html
html(lang="en")
  head
    title FGLab
  body
    h1 Projects
    ul#projects
      - each project in projects
        li
          a(href="/projects/" + project._id) #{project.name}

    h1 Machines
    ul#machines
      - each machine in machines
        li
          a(href="/machines/" + machine._id) #{machine.hostname}
