extends ./layout.jade

block title
  title FGLab

block content
  .row
    .col-sm-6
      h1 Projects
      h2 New Project
      form#new-project
        fieldset.form-group
          label(for="schema") Project schema
          input#schema.form-control-file(name="schema", type="file")
          small.text-muted Upload a valid project schema. The name of the JSON file will be used to name the project.
        button.btn.btn-primary(type="submit") Create Project

      br
      h2 Existing Projects
      ul#projects.list-unstyled
        - each project in projects
          li
            button.btn.btn-danger-outline.btn-sm.delete(data-type="projects", data-id="#{project._id}", type="button") #[span.octicon.octicon-trashcan]
            | &nbsp;
            a(href="/projects/" + project._id) #{project.name}

    .col-sm-6
      h1 Machines
      ul#machines.list-unstyled
        - each machine in machines
          li
            button.btn.btn-danger-outline.btn-sm.delete(data-type="machines", data-id="#{machine._id}", type="button") #[span.octicon.octicon-trashcan]
            | &nbsp;
            a(href="/machines/" + machine._id) #{machine.hostname}

block scripts
  script(src="/bower_components/jquery/dist/jquery.min.js")
  script.
    $(function() {
      $("#new-project").on("submit", function() {
        // Extract file
        var fd = new FormData($(this)[0]);
        // Send
        $.ajax({
          url: "/new-project",
          type: "POST",
          data: fd,
          processData: false,
          contentType: false
        })
        .then(function() {
          location.reload(); // Refresh page
        });
        return false; // Stop event and propagation
      });

      // Delete project or machine
      $("button.delete").on("click", function() {
        var $el = $(this);
        var type = $el.data("type");
        var id = $el.data("id");
        $.ajax({
          url: "/api/" + type + "/" + id,
          type: "DELETE"
        })
        .then(function() {
          // Delete experiments as well if project deleted
          if (type === "projects") {
            $.ajax({
              url: "/api/" + type + "/" + id + "/experiments",
              type: "DELETE"
            })
            .then(function() {
              location.reload(); // Refresh page
            });
          } else {
            location.reload(); // Refresh page
          }
        });
        return false; // Stop event and propagation
      });
    });
