doctype html
html(lang="en")
  head
    title FGLab
  body
    h1 Projects
    h2 New Project
    form(action="/new-project", method="POST", enctype="multipart/form-data")
      .form-group
        label(for="protofile") Project.proto
        input(type="file", name="protofile")
      button(type="submit") Upload project

    h2 Existing Projects
    ul#projects
      - each project in projects
        li
          a(href="/projects/" + project._id) #{project.name}

    h1 Machines
    ul#machines
      - each machine in machines
        li
          a(href="/machines/" + machine._id) #{machine.hostname}
