doctype html
html(lang="en")
  head
    block title
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(http-equiv="x-ua-compatible", content="ie=edge")

    link(href="/bower_components/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
    link(href="/bower_components/octicons/octicons/octicons.css", rel="stylesheet")
    link(href="/css/main.css", rel="stylesheet")
    block styles

  body
    nav#nav.navbar.navbar-dark.bg-inverse
      a.navbar-brand(href="#") FGLab
      ul.nav.navbar-nav
        li.nav-item
          a.nav-link(href="/") #[span.octicon.octicon-home]
    .container
      block content
    block scripts
