doctype html
html(lang="en")
  head
    title!= title
  body
    h1 Messages
    ul#messages
    script.
      var host = location.origin.replace(/^http/, 'ws');
      var ws = new WebSocket(host);
      ws.onopen = function(event) {
        ws.send("Connected to client"); // Send must wait for connection establishment
      };
      ws.onmessage = function(event) {
        var li = document.createElement("li");
        li.innerHTML = event.data;
        document.querySelector("#messages").appendChild(li);
      };
