NETWORK:=pennai
SHARE_PATH:=/share/devel
PROJECT_ROOT:=/share/devel
PAIX_HOST:=paix01
PAIWWW_HOST:=paiwww
PAIWWW_PORT:=443
LAB_HOST:=lab
LAB_PORT:=5080
CAPACITY:=1
MACHINE_HOST:=machine
MAKEPLOTS:=1
MACHINE_PORT:=5081
MONGO_HOST:=dbmongo
MONGO_PORT:=27017
REDIS_HOST:=dbredis
REDIS_PORT:=6379
IP:=127.0.0.1
APIKEY:=foobar
