NETWORK:=pennai
SHARE_PATH:=/share/devel
PROJECTS_ROOT:=/share/devel
PAIX_HOST:=paix01
WEB_HOST:=paiwww
LAB_HOST:=lab
LAB_PORT:=5080
LAB_URL=http://${LAB_HOST}:${LAB_PORT}
MACHINE_HOST:=machine
MACHINE_PORT:=5081
MACHINE_URL=http://${MACHINE_HOST}:${MACHINE_PORT}
MONGO_HOST:=dbmongo
MONGO_PORT:=27017
MONGO_URI:=mongodb://${MONGO_HOST}:${MONGO_PORT}/FGLab
REDIS_HOST:=dbredis
REDIS_PORT:=6379
IP:=127.0.0.1
APIKEY:=1234567898765432
