body {
    margin: 0;
    padding: 2rem;
    padding-top: 5rem;
    background-color: #1B1C1D;
    font-size: 1rem;
    line-height: 1.5;
}

.pennai .ui.segment {
    background-color: rgba(255,255,255,.11);
    border: none;
}

.pennai .ui.yellow.label {
    background-color: transparent!important;
    border: 0.063rem solid #FFE21F!important;
    color: #FFE21F!important;
}

.pennai .ui.green.label {
    background-color: transparent!important;
    border: 0.063rem solid #2ECC40!important;
    color: #2ECC40!important;
}

.pennai .ui.red.label {
    background-color: transparent!important;
    border: 0.063rem solid #FF695E!important;
    color: #FF695E!important;
}

.pennai .ui.menu .link.active > .item {
    background-color: rgba(0,0,0,.1)!important;
}

.pennai .ui.menu .link:not(.active) > .item:hover {
    background-color: rgba(255,255,255,.08)!important;
}

.ui.inverted.red.segment {
    background-color: #1B1C1D !important;
    border: 0.063rem solid #FF695E;
}

.ui.inverted.orange.segment {
    background-color: #1B1C1D !important;
    border: 0.063rem solid #FF851B;
}

.ui.inverted.yellow.segment {
    background-color: #1B1C1D !important;
    border: 0.063rem solid #FFE21F;
}

.ui.inverted.olive.segment {
    background-color: #1B1C1D !important;
    border: 0.063rem solid #D9E778;
}

.ui.inverted.green.segment {
    background-color: #1B1C1D !important;
    border: 0.063rem solid #2ECC40;
}

.ui.inverted.teal.segment {
    background-color: #1B1C1D !important;
    border: 0.063rem solid #6DFFFF;
}

.ui.inverted.blue.segment {
    background-color: #1B1C1D !important;
    border: 0.063rem solid #54C8FF;
}

.ui.inverted.purple.segment {
    background-color: #1B1C1D !important;
    border: 0.063rem solid #DC73FF;
}

.ui.inverted.violet.segment {
    background-color: #1B1C1D !important;
    border: 0.063rem solid #A291FB;
}

.ui.inverted.pink.segment {
    background-color: #1B1C1D !important;
    border: 0.063rem solid #FF8EDF;
}

.ui.inverted.brown.segment {
    background-color: #1B1C1D !important;
    border: 0.063rem solid #D67C1C;
}

.ui.inverted.grey.segment {
    background-color: #1B1C1D !important;
    border: 0.063rem solid #DCDDDE;
}

.ui.grid>.row {
    padding: 0;
}

.ui.grid > .row > .column {
    margin-top: 1em;
    margin-bottom: 1em;
}

.ui.button {
    margin: 0 1em 1em 0;
}

.right {
    float: right;
}

.react-draggable {
    cursor: move;
}

.navbar > .react-draggable {
    position: absolute;
    right: 1em;
    bottom: 1em;
    z-index: 100;
}

@media (min-width: 140rem) {
    body {
        line-height: calc(1.5 * 2.5);
        padding: calc(1rem * 10);
    }

    h1.ui.header {
        font-size: calc(2rem * 2.5); 
    }

    h1.ui.header .sub.header {
        font-size: calc(1.14285714rem * 2.5);
    }

    .ui.button {
        font-size: calc(1rem * 2.5); 
    }

    .ui.inverted.segment {
        border-width: calc(0.063rem * 5) !important;
    }

    .ui.segment.square > .content {
        padding: calc(1rem * 2.5);
    }
}