body {
    margin: 0;
    padding: 2rem;
    padding-top: 4.5rem;
    background-color: #1B1C1D;
    font-size: 1rem;
    line-height: 1.5;
}

.pennai .page-title .ui.header {
    display: inline-block;
    margin-right: 1rem;
}

.pennai .page-title .ui.button {
    vertical-align: middle;
    margin-bottom: 0.9rem;
}

.pennai .ui.segment {
    background-color: rgba(255,255,255,.08);
}

.pennai .dataset-panel .ui.header.title {
    display: inline-block;
    margin-bottom: 0;
}

.pennai .dataset-panel .ui.header.title:hover {
    text-decoration: underline
}

.pennai .dataset-panel .ai-label {
    margin-right: 1rem;
    vertical-align: middle;
}

.pennai .dataset-panel .ai-label.on {
    color: rgba(255,255,255,.95);
}

.pennai .dataset-panel .ai-label.off {
    color: rgba(255,255,255,.55);
}

.pennai .dataset-panel .ai-switch.ui.toggle {
    width: 2.5rem;
    margin-right: 0.75rem;
    vertical-align: middle;
}

.pennai .dataset-panel .ai-switch.ui.toggle.checkbox label:before {
    width: 2.5rem;
    background: rgba(255,255,255,.35);
}

.pennai .dataset-panel .ai-switch.ui.toggle.checkbox input:checked~label:after {
    left: 1.15rem;
}

.pennai .dataset-panel .best-result.ui.segment:hover {
    background: rgba(255,255,255,.12);
}

.pennai .dataset-panel .best-result .ui.progress {
    margin: 0;
    margin-bottom: 1rem;
}

.pennai .dataset-panel .best-result .ui.progress.accuracy-score .bar {
    background-color: #9B59B6;
}

.pennai .dataset-panel .best-result .ui.progress .bar .progress {
    right: 0;
    left: 0.5rem;
}

.pennai .dataset-panel .best-result .ui.progress .bar .progress::after {
    margin-left: 0.4rem;
    content: "accuracy";
}

.pennai .dataset-panel .experiments.table {
    background-color: rgba(255,255,255,.08);
    border: 1px solid #555;
    border-collapse: collapse;
}

.pennai .dataset-panel .experiments.table td {
    position: relative;
}

.pennai .dataset-panel .experiments.table .ui.floating.label {
    margin-left: -5.25em !important;
}

.pennai .dataset-panel .ui.red.label {
    background-color: #ff5144 !important;
}

.pennai .experiments-scene .filters .fields {
    margin-bottom: 0;
}

.pennai .experiments-scene .filters .fields .filter {
   margin-right: 1rem;
   margin-top: 0.15rem;
}

.pennai .experiments-scene .filters .item,
.pennai .experiments-scene .filters .text {
    text-transform: capitalize;
}

.pennai .experiments-scene .ui.table tr.new {
    box-shadow: none;
    background-color: rgba(46,204,64,.1) !important;
    color: rgba(255,255,255,.9) !important;
}

.pennai .experiments-scene .ui.table tr.new:hover {
    background: rgba(46,204,64,.2)!important;
    color: #fff!important;
}

.pennai .experiments-scene .ui.table tr.error {
    box-shadow: none;
    background-color: rgba(255,105,94,.15) !important;
    color: rgba(255,255,255,.9) !important;
}

.pennai .experiments-scene .ui.table tr.error:hover {
    background: rgba(255,105,94,.2)!important;
    color: #fff!important;
}

/*.table-container {
    width: 100%;
    overflow-y: auto;
    margin: 0 0 1em;
}

.table-container .table {
    min-width: 1000px;
}*/

.pennai .ui.menu .link.active > .item {
    background-color: rgba(0,0,0,.1)!important;
}

.pennai .ui.menu .link:not(.active) > .item:hover {
    background-color: rgba(255,255,255,.08)!important;
}

/*.ui.button {
    margin: 0 1em 1em 0;
}*/

.float-right {
    float: right;
}

.react-draggable {
    cursor: move;
}

.navbar > .react-draggable {
    position: absolute;
    right: 1em;
    bottom: 1em;
    z-index: 100;
}

@media (min-width: 140rem) {
    body {
        line-height: calc(1.5 * 2.5);
        padding: calc(1rem * 10);
    }

    h1.ui.header {
        font-size: calc(2rem * 2.5); 
    }

    h1.ui.header .sub.header {
        font-size: calc(1.14285714rem * 2.5);
    }

    .ui.button {
        font-size: calc(1rem * 2.5); 
    }

    .ui.inverted.segment {
        border-width: calc(0.063rem * 5) !important;
    }

    .ui.segment.square > .content {
        padding: calc(1rem * 2.5);
    }
}