body {
    margin: 0;
    padding: 2rem;
    padding-top: 4rem;
    background-color: #1B1C1D;
    font-size: 1rem;
    line-height: 1.5;
}

.pennai .page-title .ui.header {
    display: inline-block;
    margin-right: 1rem;
}

.pennai .page-title .ui.button {
    vertical-align: middle;
}

.pennai .ui.segment {
    background-color: rgba(255,255,255,.08);
}

.pennai .dataset-header .ui.header {
    display: inline-block;
    margin-bottom: 0;
}

.pennai .dataset-header .ui.header:hover {
    text-decoration: underline
}

.pennai .ai-label {
    vertical-align: middle;
    margin-right: 1rem;
}

.pennai .ai-label.on {
    color: rgba(255,255,255,.95);
}

.pennai .ai-label.off {
    color: rgba(255,255,255,.55);
}

.pennai .ai-switch.ui.toggle {
    vertical-align: middle;
    width: 2.5rem;
    margin-right: 0.75rem;
}

.pennai .ai-switch.ui.toggle.checkbox label:before {
    background: rgba(255,255,255,.35);
    width: 2.5rem;
}

.pennai .ai-switch.ui.toggle.checkbox input:checked~label:after {
    left: 1.15rem;
}

.pennai .dataset-best-result.ui.segment:hover {
    background: rgba(255,255,255,.12);
}

.pennai .dataset-best-result .ui.progress {
    margin: 0;
    margin-bottom: 1rem;
}

.pennai .dataset-best-result .ui.progress.accuracy-score .bar {
    background-color: #26A65B;
}

.pennai .dataset-best-result .ui.progress .bar .progress {
    right: 0;
    left: 0.5rem;
}

.pennai .dataset-best-result .ui.progress .bar .progress::after {
    margin-left: 0.4rem;
    content: "accuracy";
}

.pennai .dataset-experiments.table {
    background-color: rgba(255,255,255,.08);
    border: 1px solid #555;
    border-collapse: collapse;
}

.pennai .dataset-experiments.table td {
    position: relative;
}

.pennai .dataset-experiments .ui.floating.label {
    margin-left: -5.25em !important;
}

/*.pennai .ui.yellow.label {
    background-color: transparent!important;
    border: 0.063rem solid #FFE21F!important;
    color: #FFE21F!important;
}

.pennai .ui.green.label {
    background-color: transparent!important;
    border: 0.063rem solid #2ECC40!important;
    color: #2ECC40!important;
}

.pennai .ui.red.label {
    background-color: transparent!important;
    border: 0.063rem solid #FF695E!important;
    color: #FF695E!important;
}*/

.pennai .ui.menu .link.active > .item {
    background-color: rgba(0,0,0,.1)!important;
}

.pennai .ui.menu .link:not(.active) > .item:hover {
    background-color: rgba(255,255,255,.08)!important;
}

.ui.inverted.red.segment {
    background-color: #1B1C1D !important;
    border: 0.063rem solid #FF695E;
}

.ui.inverted.orange.segment {
    background-color: #1B1C1D !important;
    border: 0.063rem solid #FF851B;
}

.ui.inverted.yellow.segment {
    background-color: #1B1C1D !important;
    border: 0.063rem solid #FFE21F;
}

.ui.inverted.olive.segment {
    background-color: #1B1C1D !important;
    border: 0.063rem solid #D9E778;
}

.ui.inverted.green.segment {
    background-color: #1B1C1D !important;
    border: 0.063rem solid #2ECC40;
}

.ui.inverted.teal.segment {
    background-color: #1B1C1D !important;
    border: 0.063rem solid #6DFFFF;
}

.ui.inverted.blue.segment {
    background-color: #1B1C1D !important;
    border: 0.063rem solid #54C8FF;
}

.ui.inverted.purple.segment {
    background-color: #1B1C1D !important;
    border: 0.063rem solid #DC73FF;
}

.ui.inverted.violet.segment {
    background-color: #1B1C1D !important;
    border: 0.063rem solid #A291FB;
}

.ui.inverted.pink.segment {
    background-color: #1B1C1D !important;
    border: 0.063rem solid #FF8EDF;
}

.ui.inverted.brown.segment {
    background-color: #1B1C1D !important;
    border: 0.063rem solid #D67C1C;
}

.ui.inverted.grey.segment {
    background-color: #1B1C1D !important;
    border: 0.063rem solid #DCDDDE;
}

.ui.grid>.row {
    padding: 0;
}

.ui.grid > .row > .column {
    margin-top: 1em;
    margin-bottom: 1em;
}

.ui.button {
    margin: 0 1em 1em 0;
}

.right {
    float: right;
}

.react-draggable {
    cursor: move;
}

.navbar > .react-draggable {
    position: absolute;
    right: 1em;
    bottom: 1em;
    z-index: 100;
}

@media (min-width: 140rem) {
    body {
        line-height: calc(1.5 * 2.5);
        padding: calc(1rem * 10);
    }

    h1.ui.header {
        font-size: calc(2rem * 2.5); 
    }

    h1.ui.header .sub.header {
        font-size: calc(1.14285714rem * 2.5);
    }

    .ui.button {
        font-size: calc(1rem * 2.5); 
    }

    .ui.inverted.segment {
        border-width: calc(0.063rem * 5) !important;
    }

    .ui.segment.square > .content {
        padding: calc(1rem * 2.5);
    }
}