scikit-learn==1.3.0
tqdm==4.66.1
pymongo==4.3.3
pandas==2.0.3
numpy==1.23.1
matplotlib==3.7.2
mlxtend==0.22.0
pydot==1.4.2
shap==0.46.0
simplejson==3.19.1
requests==2.31.0
xgboost==1.7.6
joblib==1.3.2
