block title
  title Idea Factory

link(href="/bower_components/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
link(href="/stylesheets/main.css", rel="stylesheet")

block content
    img(src="/images/pennai.png", usemap="#nav-map").center-block
    map(name="nav-map")
      area(href="/?type=ai", alt="AI Engine", coords="1132,40,1972,403", shape="rect")
      area(href="/?type=ml", alt="ML Engine", coords="1137,1415,1972,2186", shape="rect")

block scripts
  script(src="/bower_components/jquery/dist/jquery.min.js")
  script(src="/javascripts/jquery.rwdImageMaps.min.js")
  script.
    $(document).ready(function(e) {
      $('img[usemap]').rwdImageMaps();
    });