doctype html
html(lang="en")
  head
    block title
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(http-equiv="x-ua-compatible", content="ie=edge")

    link(href='https://fonts.googleapis.com/css?family=Rajdhani', rel='stylesheet', type='text/css')
    link(href="/bower_components/tether/dist/css/tether.min.css", rel="stylesheet")
    link(href="/bower_components/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
    link(href="/bower_components/octicons/octicons/octicons.css", rel="stylesheet")
    link(href="/bower_components/seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css", rel="stylesheet")
    link(href="/stylesheets/main.css", rel="stylesheet")
    style.
      #server-status {
        padding: 0 1rem;
      }
    block styles

  body.dark
    nav#nav.navbar.navbar-dark.bg-inverse
      span.navbar-brand Idea Factory
      ul.nav.navbar-nav
        li.nav-item
          a.nav-link(href="/") #[span.octicon.octicon-home]
      ul.nav.navbar-nav.pull-xs-right
        li.nav-item
          a.nav-link #[span#server-status.octicon.octicon-server]
    .container
      block content
    script(src="/bower_components/jquery/dist/jquery.min.js")
    script(src="/bower_components/tether/dist/js/tether.min.js")
    script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
    script(src="/bower_components/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js")
    script.
      $(function() {
        var host = location.origin.replace(/^http/, 'ws'); // WebSocket server address
        var ws = null; // WebSocket
        var $status = $("#server-status"); // Server status icon

        // Connects to WebSocket server
        var wsConnect = function() {
          ws = new WebSocket(host); // Attempt to connect

          // Set server status as on
          ws.onopen = function(event) {
            $status.removeClass("text-danger");
            $status.addClass("text-success");
          };
          // Set server status as off
          ws.onclose = function(event) {
            // Set status
            $status.removeClass("text-success");
            $status.addClass("text-danger");
          };
        };

        // Reconnects to WebSocket server if needed
        var wsReconnect = function() {
          if (!ws || ws.readyState === WebSocket.CLOSED) {
            wsConnect();
          }
        };

        // Connect 
        wsConnect();
        // Attempt to reconnect every 5s if necessary
        setInterval(wsReconnect, 5000);
      });
    block scripts