# web stuff
www/bundle.js
www/*.js
www/*.json
# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules
# Environment configuration variables
/.env
