body {
	margin: 0;
	padding: 2rem;
	background-color: #1B1C1D;
	font-size: 1rem;
	line-height: 1.5;
}

@media (min-width: 140rem) {
	body {
		line-height: calc(1.5 * 2.5);
		padding: calc(1rem * 10);
	}

    h1.ui.header {
		font-size: calc(2rem * 2.5); 
	}

	h1.ui.header .sub.header {
		font-size: calc(1.14285714rem * 2.5);
	}

	.ui.button {
		font-size: calc(1rem * 2.5); 
	}

	.ui.inverted.segment {
		border-width: calc(0.063rem * 5) !important;
	}

	.ui.segment.square > .content {
		padding: calc(1rem * 2.5);
	}
}