
.bd-placeholder-img {
font-size: 1.125rem;
text-anchor: middle;
-webkit-user-select: none;
-moz-user-select: none;
user-select: none;
}

@media (min-width: 768px) {
.bd-placeholder-img-lg {
    font-size: 3.5rem;
}
}

.b-example-divider {
height: 3rem;
background-color: rgba(0, 0, 0, .1);
border: solid rgba(0, 0, 0, .15);
border-width: 1px 0;
box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
flex-shrink: 0;
width: 1.5rem;
height: 100vh;
}

.bi {
vertical-align: -.125em;
fill: currentColor;
}

.nav-scroller {
position: relative;
z-index: 2;
height: 2.75rem;
overflow-y: hidden;
}

.nav-scroller .nav {
display: flex;
flex-wrap: nowrap;
padding-bottom: 1rem;
margin-top: -1px;
overflow-x: auto;
text-align: center;
white-space: nowrap;
-webkit-overflow-scrolling: touch;
}


a#infanddownload {
    --bs-btn-bg: #182435;
    --bs-btn-hover-bg: #849ab9;
}

a#downloadImage{
  --bs-btn-bg: #182435;
  --bs-btn-hover-bg: #849ab9;
}

.navbar{
    --bs-navbar-color: #1A1110!important;
}





#mainName{
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    text-shadow: 0 0 0.5rem #1A1110;

}



.bg-info {
    --bs-bg-opacity: 0.1!important;
}


/* make element rect look transparent */
rect {
    /* fill: none; */
    stroke: none;
}


.card-body.bg-info{

    --bs-bg-opacity: 0.1!important; 

}



/*Filter styles*/
.saturate { filter: saturate(3); }
.grayscale { filter: grayscale(100%); }
.contrast { filter: contrast(160%); }
.brightness { filter: brightness(0.25); }
.blur { filter: blur(3px); }
.invert { filter: invert(100%); }
.sepia { filter: sepia(100%); }
.huerotate { filter: hue-rotate(180deg); }
.rss.opacity { filter: opacity(50%); }




#changed {
    -webkit-filter : hue-rotate(180deg);
    filter : hue-rotate(180deg);
}




/* Style the video: 100% width and height to cover the entire window */
#myVideo {
position: fixed;
right: 0;
bottom: 0;
min-width: 100%;
min-height: 100%;
z-index: -1;
background: rgba(0, 0, 0, 0.50);
}

/* Add some content at the bottom of the video/page */
.content {
position: fixed;
bottom: 0;
background: rgba(0, 0, 0, 0.5);
color: #f1f1f1;
width: 100%;
padding: 20px;
}

/* Style the button used to pause/play the video */
#myBtn {
width: 200px;
font-size: 18px;
padding: 10px;
border: none;
background: #000;
color: #fff;
cursor: pointer;
}

#myBtn:hover {
background: #ddd;
color: black;
} 






/* div class="row py-lg-5 bg-info" */
.row.py-lg-5.bg-info{
/* make edge round */
border-radius: 1rem;
}









/* carousel */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
  }

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  /* background-color: rgba(0,0,0,0.8); */
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
  /* background-color: #ffffff; */
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}




/* domain is axis */
.domain {
  /* fill: rgb(255, 255, 255); */
  stroke: rgb(255, 255, 255);
  /* shape-rendering: crispEdges; */
}



#mainLogo{
    /* -webkit-filter: invert(20%); */

    /* make it black */
    /* -webkit-filter: invert(100%); */
    /* make it white */
    /* -webkit-filter: invert(120%); */



}



.card-body.bg-secondary{
    background-color: #0d131b!important;
    
}









.videoContainer {
  position: relative;
  width: 100%;
  height: 100%;
  
  border-radius: 5px;
  background-attachment: scroll;
  overflow: hidden;
}
.videoContainer video {
  min-width: 100%;
  min-height: 100%;
  position: relative;
  z-index: 1;
}
.videoContainer .overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
  background: green;
  opacity: 0.5;
}






#overlay {
  pointer-events:none;
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.3);
  z-index: 1;
  cursor: pointer;
}


.nav-item{
  color: transparent!important;
  background-color: transparent!important;
  -webkit-text-fill-color: rgb(255, 255, 255)!important;
  list-style-type: none;
  
  /* change font size */
  font-size: 1.2rem;

}

.active, .dot:hover {
  background-color: transparent!important;
  /* mouseover color change */

}




 /* Style buttons */
 .btn-download {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  /* make left aligned */
  
}

/* Darker background on mouse-over */
.btn-download:hover {
  background-color: RoyalBlue;
} 



.all-scroll {cursor: all-scroll;}

#downloadA {
  background: darkslategray!important;
  color: white!important;
}



#downloadLi {
  --bs-btn-bg: #182435;
  --bs-btn-hover-bg: #849ab9;
}


.footerCon{
  /* text color  */
  color: #ffffff;
 }


